/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';

html {
  font-size: 13pt;
  font-family: 'Open Sans', serif;
  font-weight: normal;
  font-style: normal;

  -webkit-font-smoothing: none;
  font-smoothing: none;

  overflow-x: hidden;
  overflow-y: scroll;
}

pre {
  font-family: 'Roboto Mono', serif;
  word-spacing: 1px;
  letter-spacing: 1px;
}
