$ionicons-font-path: "~ionicons/dist/fonts";
@import "~ionicons/dist/scss/ionicons.scss";

@import '~@angular/material/theming';

$custom-typography: mat-typography-config($font-family: '"Open Sans", serif;');
@include mat-core($custom-typography);

$frontend-primary: mat-palette($mat-indigo);
$frontend-accent: mat-palette($mat-pink, A200, A100, A400);
$frontend-warn: mat-palette($mat-red);
$frontend-theme: mat-light-theme($frontend-primary, $frontend-accent, $frontend-warn);
@include angular-material-theme($frontend-theme);

html, body {
    height: 100%;
    margin: 0;
}

html, body, * {
    font-size: 13pt;
    font-family: 'Open Sans', serif !important;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.5px;
    word-spacing: 1px;
}

.icon {
    color: black;
}

